 /* color palette 
main-color: #5B9A8B
secondary-color:#9A5B6A
dark-theme: #0F0F10
dashboard-bg:#1F1F1F
light-tehem:#fff
dark-theme-text-color: #878989 */

/* nav */
.top-nav{
    border-bottom: 1px solid grey;
}
.search-box{
    border: none;
    outline: none;
   
}
#light-theme{
    display: none;
}
.user-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
