 /* color palette 
main-color: #5B9A8B
secondary-color:#9A5B6A
dark-theme: #0F0F10
dashboard-bg:#1F1F1F
light-tehem:#fff
dark-theme-text-color: #878989 */

/* nav */
*{
    font-family: 'Inter', sans-serif;
    
   
}
.navbar{
    background-color: #fff;
}
.nav-btn{
    color: black;
}
.logo-wrapper{
    background-color: #fff;
}
.main-section{
    border-left: 1px solid rgb(211, 211, 211);
}
.top-nav{
    border-bottom: 1px solid rgb(211, 211, 211);
    width: 100%;
}
.bottom-nav{
    border-bottom: 1px solid  rgb(211, 211, 211);
    width: 100%;
}

.search-wrapper{
    width: 200px;
    border: 1px solid rgb(211, 211, 211);
}
.search-box{
    border: none;
    outline: none;
    width: 150px;
   
}
.notification-bell{
    border: 1px solid  rgb(150, 150, 150);;
}
.btn-notify{
    border: none;
    background-color: #5B9A8B;
    color: #fff;
}
#lighttheme{
    display: none;
}
.user-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.create-btn{
    border: none;
    background-color: #5B9A8B;
    color: #fff;
}
.logo{
    width: 60px;
    
}
.logo-text{
    font-size: 20px;
    font-weight: 600;
    
    
}
.slogan{
    font-size: 13px;
    margin-top: -9px;
    color: rgb(150, 150, 150);
}
.sidenav-link{
    font-size: 18px;
    text-decoration: none;
    color: #b6b6b6;
    font-weight: 500;
}

.active{
    color: #5B9A8B;
}
.bottom-sidenav{
    margin-top: 15rem;
}
.upload-wrapper{
    color: #b6b6b6;
    border: #b6b6b6 1px dashed;
    width: 200px;
    text-align: center;
    background-size: cover;
    font-size: 18px;
}
main{
    background-color: #F9F9F9;
    height: fit-content;
}
.breadcrumbitem{
    color: #000;
    text-decoration: none;
}
.folders-text{
    font-size: 20px;
}
.foldercard{
    background-color: #fff;
  border: none;
  box-shadow: 0px 10px 20px  rgba(10, 10, 10, 0.041);
}
.folder-icon-wrapper{
    background: #e6e6e6;
}
.folder-icon{
    width: 30px;
    height: 30px;
}
.folder-name{
    font-size: 20px;
    font-weight: 500;
}
.file-counter{
    font-size: 16px;
    margin-top: -1rem;
    color: #a5a4a4;
}
.space{
    font-weight: bold;
}
.folder-date{
    color: #a5a4a4;
}
.open-folder-name{
    font-size: 22px;
    font-weight: bold;
}

.open-folder-user-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.open-folder-edit{
    margin-top: -1rem;
    color: #a5a4a4;
}
.member-img{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    margin-left: -1rem;
    object-fit: cover;
}
.action-card{
    width: 200px;
    height: fit-content;
    margin-top: -4rem;
    margin-left: 1rem;
    margin-bottom: -9rem;
    z-index: 10;
}
.action-option{
    background-color: inherit;
    cursor: pointer;
    color: inherit;
}
.action-option:hover{
    background-color: #5B9A8B;
    color: #fff;
    
}
.bi-filetype-pdf{
    color: #E4252D;
}
.bi-filetype-docx{
    color: #035ECF;
}
.bi-filetype-svg{
    color: #FD6C03;
}
.bi-filetype-ppt{
    color: #E4252D;
}

.storage-info-wrapper{
    background-color: #fff;
}
.storage-info{
    background-color: #F5F9FD;
}
.storage-left{
    color: #5B9A8B;
    font-weight: bold;
}
.used-space{
    margin-bottom: -1px;
}
.storage-upgrade{
    background-color: #E6E6E6;
}
.storage-prompt{
    color: #5B9A8B;
    font-size: 15px;
}
.storage-btn{
    background-color: #5B9A8B;
    color: #fff;
    font-size: 15px;
    border: none;
}
.storage-total{
    border:  1px solid rgb(211, 211, 211);
    height: fit-content;
}
.primary-text{
    color: #5B9A8B;
}
.storage-total-text{
    font-weight: 500;
}
.storage-total-storage{
    color: rgb(150, 150, 150);
    margin-top: -16px;
    font-size: 15px;
}
.filter-text{
    color: rgb(170, 170, 170);
}
.filecard{
  background-color: #fff;
  border: 1px solid rgb(211, 211, 211);
  cursor: pointer;
}
.filecard:hover{
  background-color: #fff;
  border: none;
  box-shadow: 0px 10px 20px  rgba(10, 10, 10, 0.041);
}

/* RESPONSIVE */
/* Tablets */
@media screen and (min-width:768px) {
    .search-wrapper{
        width: 550px;
    }
    .search-box{
        width: 550px;
    }
}
/* Tablets */
@media screen and (min-width:992px) {
    .search-wrapper{
        width: 550px;
    }
    .search-box{
        width: 550px;
    }
    .dashboard-text{
        font-size: 22px;
    }
    .folder-name{
        font-size: 18px;
        
    }
    .open-folder-name{
        font-size: 18px;
    }
    .open-folder-user-img{
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}
@media screen and (min-width:1200px){
    .logo{
        width: 50px;
        
    }
    .slogan{
        font-size: 13px;
        margin-top: -9px;
        color: rgb(150, 150, 150);
    }
    .folder-name{
        font-size: 18px;
        font-weight: 500;
    }
    .open-folder-name{
        font-size: 16px;
    }
    .open-folder-user-img{
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
}
@media screen and (min-width:1440px){
    .logo{
        width: 80px;
        
    }
    .slogan{
        font-size: 13px;
        margin-top: -9px;
        color: rgb(150, 150, 150);
    }
    .folder-name{
        font-size: 18px;
        font-weight: 500;
    }
    .open-folder-name{
        font-size: 16px;
    }
    .open-folder-user-img{
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}