 /* color palette 
main-color: #5B9A8B
secondary-color:#9A5B6A
dark-theme: #0F0F10
dashboard-bg:#1F1F1F
light-tehem:#fff
dark-theme-text-color: #878989 */

/* nav */
*{
    font-family: 'Inter';
}
.top-nav{
    border-bottom: 1px solid grey;
    width: 100%;
}
.bottom-nav{
    border-bottom: 1px solid grey;
    width: 100%;
}
.search-wrapper{
    width: 200px;
}
.search-box{
    border: none;
    outline: none;
    width: 150px;
   
}
.btn-notify{
    border: none;
    background-color: #5B9A8B;
    color: #fff;
}
#light-theme{
    display: none;
}
.user-img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.create-btn{
    border: none;
    background-color: #5B9A8B;
    color: #fff;
}
.logo{
    width: 100px;
    
}
.logo-text{
    font-size: 25px;
    font-weight: 600;
    margin-top: -10px;
    
}
.sidenav-link{
    font-size: 18px;
    text-decoration: none;
    color: #b6b6b6;
    font-weight: 500;
}

.active{
    color: #5B9A8B;
}
.bottom-sidenav{
    margin-top: 15rem;
}
.upload-wrapper{
    color: #b6b6b6;
    border: #b6b6b6 1px dashed;
    width: 200px;
    text-align: center;
    background-size: cover;
    font-size: 18px;
}
